<div class="sidebar">
  <div class="sidebar-element">
    <h2>Catalogue</h2><br>
    <p><a href= "/collections/all-classes-workshops">All Classes &amp; Workshops</a></p>
    <h4><b>Genre</b></h4>
    <p><a href= "/collections/all-classes-workshops/fiction">Fiction</a></p>
    <p><a href= "/collections/all-classes-workshops/poetry">Poetry</a></p>
    <p><a href= "/collections/all-classes-workshops/nonfiction">Nonfiction</a></p>
    <p><a href= "/collections/all-classes-workshops/getting-started">Getting Started</a></p>
    <h4><b>Level</b></h4>
    <p><a href= "/collections/all-classes-workshops/beginner">Beginner</a></p>
    <p><a href= "/collections/all-classes-workshops/intermediate">Intermediate</a></p>
    <p><a href= "/collections/all-classes-workshops/advanced">Advanced</a></p>
    <h4><b>Frequency</b></h4>
    <p><a href= "/collections/all-classes-workshops/single-session">Single Session</a></p>
    <p><a href= "/collections/all-classes-workshops/multi-session">Multi Session</a></p>
  </div>
</div>
