<div id="col-main" class="interior-content">

  <div id="page-header">
    <h1 id="page-title">{{ page.title | escape }}</h1> 
  </div>

  {{ page.content }}

  {% form 'contact' %}
  
    {% if form.posted_successfully? %}
      <p class="success-msg">Thank you for signing up! The IWC e-blast will be coming soon to an inbox near you.</p>
    {% endif %}

    {% if form.errors %}
    <p class="error-msg">
      <ul class="error-list">
      {% for field in form.errors %}
        <li>{{ field }} - {{ form.errors.messages[field] }}</li>
      {% endfor %}
      </ul>
    </p>
    {% endif %} 
    
    <ul class="contact-form">
      <li class="clearfix type-text">
        <label for="name">Name</label>
        <input type="text" id="name" name="contact[email]" />
      </li> 
      <li class="clearfix type-text">
        <label for="email">Email</label>
        <input type="email" id="email" class="email" name="contact[email]" />
      </li>   
      <li class="clearfix type-submit">
        <input type="submit" class="submit btn" value="Send" />
      </li>
    </ul>
  {% endform %}
  
  <p><i>We respect your privacy - your personal information will remain confidential. You may unsubscribe from the e-blast at any time.</i></p>

</div><!-- /#col-main -->